<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Reqnroll" version="1.0.0-pre20240124-54" />
  <package id="Reqnroll.MsTest" version="1.0.0-pre20240124-54" />
  <package id="Reqnroll.NUnit" version="1.0.0-pre20240124-54" />
  <package id="Reqnroll.xUnit" version="1.0.0-pre20240124-54" />
  <package id="Reqnroll.Tools.MsBuild.Generation" version="1.0.0-pre20240124-54" />
</packages>
